* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

/*scroll efects*/
[data-scroll] {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s, transform 0.5s;
}

[data-scroll].is-inview {
  opacity: 1;
  transform: translateY(0);
}

/*animations*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
    transform: translateX(-10px);
  }
}

@keyframes showEffectNav {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showSub {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ProductPageShow {
  from {
    opacity: 0;
    height: 0;
    transform: translateY(500px);
  }
  to {
    opacity: 1;
    height: 100vh;
    transform: translateY(0);
  }
}

@keyframes ProductPageShow-mbl {
  from {
    opacity: 0;
    height: 0;
    transform: translateY(500px);
  }
  to {
    opacity: 1;
    height: auto;
    padding-bottom: 70px;
    transform: translateY(0);
  }
}

/*medias queries*/
@media (min-width: 320px) {
  /*general*/
  li,
  a,
  h1,
  button {
    -webkit-tap-highlight-color: transparent; /* Remove o highlight no toque */
    touch-action: manipulation; /* Melhora a resposta ao toque */
  }

  /*nav*/
  .nav-container {
    position: absolute;
    width: 100%;
    height: 90px;
    background-color: transparent;
    padding: 0 1em;
    overflow: hidden;
    box-sizing: border-box;
  }

  nav {
    position: relative;
  }

  .nav-items {
    width: 100%;
    padding-top: 15px;
    list-style: none;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    position: relative;
    z-index: 4;
    opacity: 0;
    animation: showEffectNav 0.6s 0.2s ease 1 forwards;
  }

  .logomark {
    position: absolute;
    left: 0;
    transition: left 0.5s ease;
    cursor: default;
  }

  .logomark.show {
    left: 50%;
    transform: translateX(-50%);
  }

  .logomark.show2 {
    opacity: 0;
  }

  .logomark.showOff {
    opacity: 0;
  }

  .logomark h1 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    cursor: default;
    transition: 0.5s ease;
  }

  .logomark.show h1 {
    color: #71503a;
  }

  .logomark2 {
    opacity: 0;
    display: flex;
    font-size: 20px;
    transition: 0.3s ease;
    text-transform: uppercase;
    cursor: default;
  }

  .logomark2.show {
    opacity: 1;
  }

  .logomark2 .firstH1 {
    color: #71503a;
  }

  .logomark2 .secondH1 {
    color: #f5f5dc;
  }

  .items {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .navcategs1-container {
    position: absolute;
    left: 0;
  }

  .navcategs2-container {
    position: absolute;
    right: 0;
  }

  .navcategs1-container ul,
  .navcategs2-container ul {
    display: flex;
    gap: 25px;
  }

  /*sidebar body*/
  .sidebar-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    opacity: 0;
    display: block;
    overflow: hidden;
  }

  .sidebar-container.show {
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }

  /*main*/
  .main-page-container {
    overflow: hidden;
  }

  .MainPage {
    overflow: hidden;
  }

  .fade-up {
    transform: translateY(-75px);
    transition: 0.3s ease;
  }

  /*intro*/
  .intro-container {
    position: relative;
    padding-top: -90px;
    display: flex;
    flex-direction: column;
    z-index: -3;
    overflow-y: hidden;
    height: 100vh;
  }

  .intro-banner {
    height: 100vh;
  }

  .intro-container .intro-banner {
    background-image: url(imgs/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 23em 0em;
    position: relative;
    will-change: transform, opacity;
    backface-visibility: hidden;
    overflow: hidden;
  }

  /*intro page*/
  .intro-container h1 {
    position: absolute;
    right: 0;
    font-size: 22px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    padding-right: 35px;
    text-transform: uppercase;
    color: #fff;
  }

  .intro-container span {
    display: inline-block;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.5s ease forwards;
  }

  .intro-container span:nth-child(1) {
    animation-delay: 0s;
  }
  .intro-container span:nth-child(2) {
    animation-delay: 0.1s;
  }
  .intro-container span:nth-child(3) {
    animation-delay: 0.2s;
  }
  .intro-container span:nth-child(4) {
    animation-delay: 0.3s;
  }
  .intro-container span:nth-child(5) {
    animation-delay: 0.4s;
  }
  .intro-container span:nth-child(6) {
    animation-delay: 0.5s;
  }
  .intro-container span:nth-child(7) {
    animation-delay: 0.6s;
  }
  .intro-container span:nth-child(8) {
    animation-delay: 0.7s;
  }
  .intro-container span:nth-child(9) {
    animation-delay: 0.8s;
  }
  .intro-container span:nth-child(10) {
    animation-delay: 0.9s;
  }
  .intro-container span:nth-child(11) {
    animation-delay: 1s;
  }
  .intro-container span:nth-child(12) {
    animation-delay: 1.1s;
  }
  .intro-container span:nth-child(13) {
    animation-delay: 1.2s;
  }
  .intro-container span:nth-child(14) {
    animation-delay: 1.3s;
  }
  .intro-container span:nth-child(15) {
    animation-delay: 1.4s;
  }
  .intro-container span:nth-child(16) {
    animation-delay: 1.5s;
  }
  .intro-container span:nth-child(17) {
    animation-delay: 1.6s;
  }
  .intro-container span:nth-child(18) {
    animation-delay: 1.7s;
  }
  .intro-container span:nth-child(19) {
    animation-delay: 1.8s;
  }
  .intro-container span:nth-child(20) {
    animation-delay: 1.9s;
  }
  .intro-container span:nth-child(21) {
    animation-delay: 2s;
  }
  .intro-container span:nth-child(22) {
    animation-delay: 2.1s;
  }

  .intro-container p {
    position: absolute;
    right: 0;
    opacity: 0;
    margin-top: 45px;
    padding-right: 65px;
    text-transform: uppercase;
    color: #fff;
    animation: fadeIn2 0.5s 2s ease forwards;
  }

  .main-page-container {
    height: 100%;
    pointer-events: auto;
    overflow: hidden;
  }

  .main-page-container.showOff {
    height: 0;
    pointer-events: none;
  }

  #footer.show {
    height: 0;
    display: none;
  }

  .product-sub {
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
  }

  /* first categ */
  .first-category-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 50px;
  }

  .first-category-container .first-category {
    width: 99.6%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  /*first half screen*/
  .first-category-container .first-category .half-screen-1-ad {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
  }

  .product {
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }

  .product img {
    overflow: hidden;
  }

  .img-container {
    width: 100%;
    height: 90%;
    overflow: hidden;
  }

  /*product1*/
  .first-category-container .first-category .half-screen-1-ad .product1 {
    width: 300px;
    height: 430px;
    overflow: hidden;
  }

  .half-screen-1-ad .product1 .product1-sub {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  /*product2*/
  .first-category-container .first-category .half-screen-1-ad .product2 {
    width: 300px;
    height: 430px;
    overflow: hidden;
  }

  .half-screen-1-ad .product2 .product2-sub {
    display: flex;
    justify-content: space-between;
  }

  /*second half screen*/
  .first-category-container .first-category .half-screen-2-ad {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow: hidden;
  }

  /*product3*/
  .first-category-container .first-category .half-screen-2-ad .product3 {
    width: 300px;
    height: 430px;
    overflow: hidden;
  }

  .product3 img {
    margin-left: -30px;
  }

  .half-screen-2-ad .product3 .product3-sub {
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  /*second category container*/
  .second-category-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .second-category-container .second-category {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  /*first half screen*/
  .second-category-container .second-category .half-screen-1-poster {
    width: 100%;
    height: 600px;
    display: flex;
    overflow: hidden;
  }

  /*poster*/
  .second-category .half-screen-1-poster .interior-banner {
    object-fit: cover;
    object-position: center;
    display: block;
    will-change: transform, opacity;
    backface-visibility: hidden;
  }

  /*second half screen*/
  .second-category-container .second-category .half-screen-2-marketing {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f5f5dc;
  }

  .second-category .half-screen-2-marketing .woode-marketing {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .second-category .half-screen-2-marketing .woode-marketing h1 {
    font-size: 36px;
    font-weight: 700;
    color: #71503a;
    text-transform: uppercase;
  }

  .second-category .half-screen-2-marketing .woode-marketing p {
    color: #71503a;
  }

  .second-category .half-screen-2-marketing .woode-marketing .button {
    color: #71503a;
    cursor: pointer;
  }

  .button {
    position: relative;
    height: 50px;
  }

  .linha-button {
    position: absolute;
    background-color: #71503a;
    width: 0;
    height: 1px;
    transition: 0.2s ease-in-out;
    display: none;
  }

  .second-category .half-screen-2-marketing .woode-marketing .button:hover {
    .linha-button {
      width: 100%;
    }
  }

  /*third category*/
  .third-category-container {
    width: 100%;
    padding-left: 0;
    padding-top: 90px;
    padding-bottom: 90px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .third-category-container .third-category {
    width: 99.6%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
  }

  /*product4*/
  .third-category-container .third-category .product4 {
    width: 300px;
    height: 430px;
    overflow: hidden;
  }

  .product4 .product4-sub {
    display: flex;
    justify-content: space-between;
  }

  /*product5*/
  .third-category-container .third-category .product5 {
    width: 300px;
    height: 430px;
    overflow: hidden;
  }

  .product5 .product5-sub {
    display: flex;
    justify-content: space-between;
  }

  /*product6*/
  .third-category-container .third-category .product6 {
    width: 300px;
    height: 430px;
    overflow: hidden;
  }

  .product6 .product6-sub {
    display: flex;
    justify-content: space-between;
  }

  /*product7*/
  .third-category-container .third-category .product7 {
    width: 300px;
    height: 430px;
    overflow: hidden;
  }

  .product7 .product7-sub {
    display: flex;
    justify-content: space-between;
  }

  /*fourth category container*/
  .fourth-category-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 90px;
  }

  .fourth-category-container .fourth-category {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  /*first half screen*/
  .fourth-category-container .fourth-category .half-screen-1-poster2 {
    width: 100%;
    height: 600px;
    display: flex;
    overflow: hidden;
  }

  /*poster*/
  .fourth-category .half-screen-1-poster2 .interior-banner {
    object-fit: cover;
    object-position: center;
    display: block;
    will-change: transform, opacity;
    backface-visibility: hidden;
    will-change: transform, opacity;
    backface-visibility: hidden;
  }

  /*fourth half screen*/
  .fourth-category-container .fourth-category .half-screen-2-marketing2 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .fourth-category .half-screen-2-marketing2 .woode-marketing2 {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .fourth-category .half-screen-2-marketing2 .woode-marketing2 h1 {
    font-size: 36px;
    font-weight: 700;
    color: #71503a;
    text-transform: uppercase;
  }

  .fourth-category .half-screen-2-marketing2 .woode-marketing2 p {
    color: #71503a;
  }

  .fourth-category .half-screen-2-marketing2 .woode-marketing2 .button {
    color: #71503a;
    cursor: pointer;
  }

  .linha-button2 {
    position: absolute;
    background-color: #71503a;
    width: 0;
    height: 1px;
    transition: 0.2s ease-in-out;
    display: none;
  }

  .fourth-category .half-screen-2-marketing2 .woode-marketing2 .button:hover {
    .linha-button2 {
      width: 100%;
    }
  }

  /*living page nav catalog page*/
  .sub1 {
    font-weight: 600;
    color: #71503a;
    opacity: 0;
  }

  .sub2 {
    font-weight: 600;
    color: #71503a;
    opacity: 0;
  }

  .living-page-container {
    background-color: #f5f5dc;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    z-index: 3;
    display: flex;
    transition: 0.5s ease;
  }

  .living-page-container.show {
    height: 450px;
    .sub1 {
      animation: showSub 0.8s 0.2s ease 1 forwards;
    }
    .sub2 {
      animation: showSub 0.8s 0.2s ease 1 forwards;
    }
  }

  .lists-container {
    padding-top: 150px;
    padding-left: 50px;
    display: flex;
    justify-content: start;
    gap: 90px;
    width: 42%;
    overflow: hidden;
    cursor: default;
  }

  .column1 ul h3 {
    color: #71503a;
    text-transform: uppercase;
    overflow: hidden;
  }

  .column1 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    cursor: default;
  }

  .column1 ul li {
    color: #71503a;
    overflow: hidden;
    cursor: default;
  }

  .column2 h3 {
    color: #71503a;
    text-transform: uppercase;
    cursor: default;
    overflow: hidden;
  }

  .column2 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    cursor: default;
  }

  .column2 ul li {
    color: #71503a;
    overflow: hidden;
    cursor: default;
  }

  .sections-img {
    width: 58%;
    padding-top: 62px;
    margin-top: 90px;
    display: flex;
    gap: 30px;
  }

  .sections-img .banner1 {
    object-fit: cover;
    object-position: center;
    display: block;
    will-change: transform, opacity;
    backface-visibility: hidden;
  }

  .img1-catalog {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img1-catalog img {
    width: 100%;
    padding-bottom: 10px;
  }

  .sections-img .banner2 {
    object-fit: cover;
    object-position: center;
    display: block;
    will-change: transform, opacity;
    backface-visibility: hidden;
  }

  .img2-catalog {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img2-catalog img {
    width: 100%;
    padding-bottom: 10px;
  }

  .img3-catalog {
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img3-catalog img {
    width: 100%;
    padding-bottom: 10px;
  }

  .img4-catalog {
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img4-catalog img {
    width: 100%;
    padding-bottom: 10px;
  }

  /*dinning page nav*/
  .dinning-page-container {
    background-color: #f5f5dc;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0px;
    z-index: 3;
    display: flex;
    transition: 0.5s ease;
  }

  .dinning-page-container.show {
    height: 450px;

    .sub1 {
      animation: showSub 0.8s 0.2s ease 1 forwards;
    }
    .sub2 {
      animation: showSub 0.8s 0.2s ease 1 forwards;
    }
  }

  .lists-container2 {
    padding-top: 150px;
    padding-left: 50px;
    display: flex;
    justify-content: start;
    gap: 90px;
    width: 42%;
    overflow: hidden;
  }

  .sections-img {
    width: 58%;
    padding-top: 62px;
    margin-top: 90px;
    display: flex;
    gap: 30px;
  }

  .banner3 {
    object-fit: cover;
    object-position: center;
    display: block;
    will-change: transform, opacity;
    backface-visibility: hidden;
  }

  .banner4 {
    object-fit: cover;
    object-position: center;
    display: block;
    will-change: transform, opacity;
    backface-visibility: hidden;
  }

  /*bedroom page nav*/
  .bedroom-page-container {
    background-color: #f5f5dc;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0px;
    z-index: 3;
    display: flex;
    transition: 0.5s ease;
  }

  .bedroom-page-container.show {
    height: 450px;

    .sub1 {
      animation: showSub 0.8s 0.2s ease 1 forwards;
    }
    .sub2 {
      animation: showSub 0.8s 0.2s ease 1 forwards;
    }
  }

  .lists-container3 {
    padding-top: 150px;
    padding-left: 50px;
    display: flex;
    justify-content: start;
    gap: 90px;
    width: 42%;
    overflow: hidden;
  }

  .sections-img {
    width: 58%;
    padding-top: 62px;
    margin-top: 90px;
    display: flex;
    gap: 30px;
  }

  .banner5 {
    object-fit: cover;
    object-position: center;
    display: block;
    will-change: transform, opacity;
    backface-visibility: hidden;
  }

  .banner6 {
    object-fit: cover;
    object-position: center;
    display: block;
    will-change: transform, opacity;
    backface-visibility: hidden;
  }

  /*collections page nav*/
  .collections-page-container {
    background-color: #f5f5dc;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0px;
    z-index: 3;
    display: flex;
    transition: 0.5s ease;
  }

  .collections-page-container.show {
    height: 450px;

    .sub1 {
      animation: showSub 0.8s 0.2s ease 1 forwards;
    }
    .sub2 {
      animation: showSub 0.8s 0.2s ease 1 forwards;
    }
  }

  .lists-container4 {
    padding-top: 150px;
    padding-left: 50px;
    display: flex;
    justify-content: start;
    gap: 90px;
    width: 42%;
    overflow: hidden;
  }

  /*visit page nav*/
  .visit-page-container {
    background-color: #f5f5dc;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    z-index: 3;
    display: flex;
    transition: 0.5s ease;
  }

  .visit-page-container.show {
    height: 100vh;
  }

  .visit-container {
    width: 100%;
    margin-top: 90px;
    overflow: hidden;
    display: flex;
  }

  .visit-container .half-screen-1-about {
    width: 50%;
    height: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .woode-about {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    color: #71503a;
  }

  .woode-about .store-adress h1 {
    text-transform: uppercase;
  }

  .visit-container .half-screen-2-visit {
    width: 50%;
    height: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .visit-list-container2 {
    display: none;
  }

  /*contact page nav*/
  .contact-page-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100vh;
    opacity: 0;
    z-index: 3;
    display: flex;
    transition: 0.5s ease;
    justify-content: center;
    text-align: center;
  }

  .contact-page-container.show {
    width: 100vw;
    opacity: 1;
  }

  .contact-container {
    width: 100%;
    margin-top: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  /*first middle screen part*/
  .contact-container .half-screen-1-about {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f5f5dc;
  }

  .store-about h1 {
    text-transform: uppercase;
    cursor: default;
  }

  .contact-container .store-about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .store-about p {
    text-align: center;
    cursor: default;
    width: 50%;
  }

  /*second middle screen part*/
  .contact-container .half-screen-2-about {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #71503a;
  }

  .woode-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    color: #f5f5dc;
  }

  .store-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .woode-contact .store-contact h1 {
    text-transform: uppercase;
    cursor: default;
  }

  .woode-contact .store-contact p {
    cursor: default;
  }

  .ContactMails {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .ContactMails p,
  .email-message {
    cursor: default;
  }

  .woode-contact a {
    text-decoration: none;
    color: #f5f5dc;
    font-weight: bold;
  }

  .contact-list-container2 {
    display: none;
  }

  /*product page*/
  .product-page-container {
    display: none;
    padding: 1rem;
    padding-bottom: 50px;
    background: #f5f5dc;
    position: relative;
    height: auto;
  }

  .product-page-container.show {
    display: block;
  }

  .product-details-section {
    display: flex;
    color: #71503a;
    font-weight: 500;
    flex-direction: column;
  }

  .product-image {
    position: relative;
    width: 100%;
    opacity: 0;
  }

  .product-image.show {
    animation: fadeLeft 0.6s 0.5s ease forwards;
  }

  .product-image img {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    object-fit: scale-down;
  }

  .product-img-color {
    display: flex;
  }

  .colors {
    width: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: end;
    flex-direction: column;
    height: auto;
    opacity: 0;
  }

  .colors.show {
    animation: fadeRight 0.7s 0.4s ease forwards;
  }

  .colors .color1 {
    height: 60px;
    width: 60px;
    background-color: #fff;
    cursor: pointer;
  }

  .colors .color2 {
    height: 60px;
    width: 60px;
    background-color: #000;
    cursor: pointer;
  }
  .colors .color3 {
    height: 60px;
    width: 60px;
    background-color: #71503a;
    cursor: pointer;
  }

  .product-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .product-info h1 {
    font-size: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #71503a;
  }

  .product-info p {
    color: #71503a;
    font-weight: 600;
    padding: 0px 20px;
    text-align: justify;
  }

  .color {
    transition: 0.3s ease;
  }

  .color:hover {
    height: 70px;
    width: 70px;
  }

  .product-sub {
    font-weight: 500;
  }

  #productDescription {
    opacity: 0;
  }

  #productDescription.show {
    animation: fadeIn2 0.8s 0.4s ease-in-out forwards;
  }

  #productTitle {
    opacity: 0;
  }

  #productTitle.show {
    animation: fadeIn2 0.7s 0.3s ease forwards;
  }

  #backArrow3 {
    cursor: pointer;
    margin-top: 65px;
    padding: 15px 18px;
    color: #f5f5dc;
    background-color: #71503a;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .productPage-addToCart-btn {
    margin-top: 45px;
    padding: 15px;
    background-color: #71503a;
    border: solid 1px #71503a;
    color: #f5f5dc;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    animation: fadeIn2 0.7s 0.6s ease forwards;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .productPage-addToCart-btn:hover {
    background-color: #fff;
    color: #71503a;
  }

  .backToTop .fa-chevron-up {
    font-size: 20px;
    background-color: #71503a;
    color: #f5f5dc;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .backToTop .fa-chevron-up:hover {
    transform: translateY(-7px);
  }

  /*footer*/
  .footer-container {
    background-color: #f5f5dc;
    display: flex;
    height: 470px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  /*first column*/
  .categories-footer {
    padding-top: 45px;
    padding-left: 45px;
    display: none;
  }

  .categories-footer ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .categories-footer ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #71503a;
  }

  .categories-footer.show ul li a {
    color: #f5f5dc;
  }

  /*second column*/
  .other {
    padding-top: 45px;
    padding-left: 15px;
  }

  .other ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .other ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #71503a;
  }

  .other.show ul li a {
    color: #f5f5dc;
  }

  .other .destac a {
    font-weight: 600;
  }

  /*logo name*/
  .logo-footer {
    display: flex;
    align-self: flex-end;
    position: relative;
    font-size: 55px;
    color: #71503a;
    padding-right: 0px;
    text-align: center;
    flex-direction: column;
    text-transform: uppercase;
  }

  .footer-container.show {
    background-color: #71503a;
  }

  .logo-footer.show {
    color: #f5f5dc;
  }

  /*mobile certo*/
  .navcategs1-container {
    display: none;
  }

  .nav-items {
    overflow: hidden;
  }

  .navcategs2-container .desktop-nav {
    display: none;
  }

  .linha1,
  .linha2,
  .linha3,
  .linha4,
  .linha5,
  .linha6,
  .linha7 {
    display: none;
  }

  .search_screen {
    display: none;
  }

  /*navbar mobile (sidebar)*/
  /*open/close icons*/
  .mobile {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90vw;
    height: 70px;
    overflow: hidden;
  }

  .mobile .mobile-menu {
    position: absolute;
    overflow: hidden;
    width: 80px;
    height: 100%;
    font-size: 24px;
    overflow: hidden;
    display: block;
  }

  .mobile .mobile-menu.show {
    opacity: 0;
    display: none;
  }

  .fa-bars {
    position: absolute;
    display: flex;
    margin-top: 3px;
    margin-left: 15px;
    opacity: 1;
    pointer-events: auto;
    justify-self: center;
    align-self: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
  }

  .fa-bars.remove-show {
    pointer-events: none;
    opacity: 0;
    transform: rotate(360deg);
  }

  .fa-xmark {
    position: absolute;
    margin-top: 3px;
    margin-left: 15px;
    background-color: #f5f5dc;
    color: #000;
    opacity: 0;
    pointer-events: none;
    justify-self: center;
    align-self: center;
    padding: 20px 22px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
  }

  .fa-xmark.show {
    display: flex;
    opacity: 1;
    pointer-events: auto;
    transform: rotate(360deg);
    color: #71503a;
  }

  .menu-mbl {
    padding-top: 120px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #f5f5dc;
    transition: 0.5s ease;
    overflow: hidden;
  }

  .menu-mbl.show {
    opacity: 1;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
    gap: 30px;
    overflow: hidden;
  }

  .menu-items .fa-chevron-left {
    position: absolute;
    top: 0;
    margin-top: 40px;
    font-size: 26px;
    opacity: 0;
    transition: 0.5s ease;
    pointer-events: none;
    cursor: pointer;
    z-index: 500000;
    color: #71503a;
  }

  .menu-items .fa-chevron-left.show {
    opacity: 1;
    pointer-events: auto;
  }

  .visit-container2 .fa-chevron-left {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 22px;
    margin-top: 60px;
    margin-left: 15px;
    color: #f5f5dc;
    padding: 15px 18px;
    border-radius: 50%;
    background-color: #71503a;
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
    z-index: 5000000;
  }

  .visit-container2 .fa-chevron-left.show {
    opacity: 1;
    pointer-events: auto;
  }

  /*side part 1 general config*/
  .navcategs1-mbl {
    overflow: hidden;
  }

  .navcategs1-mbl ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .navcategs1-mbl a {
    text-decoration: none;
    color: #71503a;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
  }
  .navcategs1-mbl h3 {
    color: #71503a;
    overflow: hidden;
    text-transform: uppercase;
  }

  .fa-chevron-right {
    position: absolute;
    font-size: 18px;
    margin-top: 2px;
    padding-left: 5px;
    overflow: hidden;
    color: #71503a;
  }

  .side-option1,
  .side-option2,
  .side-option3,
  .side-option4,
  .side-option5,
  .side-option6,
  .side-option7 {
    transform: translateY(-20px);
    overflow: hidden;
    transition: transform 1s ease;
  }

  .side-option1.show,
  .side-option2.show,
  .side-option3.show,
  .side-option4.show,
  .side-option5.show,
  .side-option6.show,
  .side-option7.show {
    transform: translateY(0px);
  }

  /*living on side*/
  .living-mbl,
  .living-side-container {
    overflow: hidden;
  }

  .living-list-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding-top: 30px;
    padding-left: 20px;
    gap: 30px;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    opacity: 0;
    background-color: #f5f5dc;
    z-index: 500;
    transition: 0.5s ease;
  }

  .living-list-container.show {
    width: 100vw;
    opacity: 1;
  }

  .living-list-container ul {
    margin-left: 20px;
  }

  /*dinning on side*/
  .dinning-mbl,
  .dinning-side-container {
    overflow: hidden;
  }

  .dinning-list-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding-top: 30px;
    margin-left: 20px;
    padding-left: 20px;
    gap: 30px;
    right: 0;
    top: 0;
    width: 0;
    height: 100vh;
    opacity: 0;
    background-color: #f5f5dc;
    z-index: 500;
    transition: 0.5s ease;
  }

  .dinning-list-container.show {
    width: 100vw;
    opacity: 1;
  }

  .dinning-list-container ul {
    margin-left: 20px;
  }

  /*bedroom on side*/
  .bedroom-mbl,
  .bedroom-side-container {
    overflow: hidden;
  }

  .bedroom-list-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding-top: 30px;
    margin-left: -20px;
    padding-left: 20px;
    gap: 30px;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    opacity: 0;
    background-color: #f5f5dc;
    z-index: 500;
    transition: 0.5s ease;
  }

  .bedroom-list-container.show {
    width: 100vw;
    opacity: 1;
  }

  .bedroom-list-container ul {
    margin-left: 20px;
  }

  /*collections*/
  .collections-mbl {
    width: 100vw;
  }

  .collections-list-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding-top: 30px;
    margin-left: -20px;
    padding-left: 20px;
    gap: 30px;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    opacity: 0;
    background-color: #f5f5dc;
    z-index: 500;
    transition: 0.5s ease;
  }

  .collections-list-container.show {
    width: 100vw;
    opacity: 1;
  }

  .collections-list-container ul {
    margin-left: 20px;
  }

  /*side part 2 general config*/
  .navcategs2-mbl a {
    text-decoration: none;
    color: #71503a;
    text-transform: uppercase;
    font-weight: bold;
  }

  .navcategs2-mbl ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .navcategs2-mbl h3 {
    color: #71503a;
    text-transform: uppercase;
  }

  /*visit on side*/
  .visit-mbl,
  .visit-side-container {
    overflow: hidden;
  }

  /*account on side*/
  .account-mbl,
  .account-side-container {
    overflow: hidden;
  }

  /*cart on side*/
  .cart-mbl,
  .cart-side-container {
    overflow: hidden;
  }

  /*side footer*/
  .menu-items .side-footer {
    position: relative;
    width: 100vw;
    margin-left: -20px;
  }

  .menu-items .side-footer .footer-container {
    background-color: #71503a;
  }

  .menu-items .side-footer a {
    color: #f5f5dc;
  }

  .menu-items .logo-footer h1 {
    color: #f5f5dc;
    font-size: 45px;
  }

  /*visit page*/
  .visit-list-container2 {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    background-color: #f5f5dc;
    transition: 0.5s ease;
  }

  .visit-list-container2.show {
    height: 100vh;
    width: 100vw;
    opacity: 1;
  }

  .visit-container2 {
    width: 100%;
    margin-top: 90px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .visit-container2 .half-screen-1-about2 {
    width: 100%;
    height: 50%;
    padding-top: -90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .woode-about2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    color: #71503a;
  }

  .woode-about2 h1 {
    color: #71503a;
    text-transform: uppercase;
  }

  .visit-container2 .half-screen-2-visit2 {
    width: 100%;
    height: 50vh;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .visit-container2 .half-screen-2-visit2 .visit-banner {
    object-fit: cover;
    object-position: center;
    display: block;
    will-change: transform, opacity;
    backface-visibility: hidden;
  }

  .close-menu-visit .fa-xmark {
    position: absolute;
    font-size: 26px;
    margin-left: 15px;
    overflow: hidden;
    border-radius: 50%;
    padding: 15px 17px;
    margin-top: -40px;
    color: #71503a;
    z-index: 5001;
    background-color: #fff;
    cursor: pointer;
    display: none;
  }

  .close-menu-visit .fa-xmark.show {
    display: block;
    animation: menu-mbl2 0.5s ease-in-out 1 forwards;
  }

  /*contact page*/
  .contact-container {
    flex-direction: column;
  }

  #back-arrow4 {
    position: absolute;
    top: 0;
    margin-top: 90px;
    margin-left: -10px;
    font-size: 20px;
    padding: 15px 18px;
    border-radius: 50%;
    background-color: #71503a;
    color: #f5f5dc;
    pointer-events: none;
    transition: 0.3s ease;
  }
  #back-arrow4.show {
    cursor: pointer;
    pointer-events: auto;
    transform: translateX(20px);
  }

  /*first middle screen part*/
  .contact-container .half-screen-1-about {
    width: 100%;
  }

  /*second middle screen part*/
  .contact-container .half-screen-2-about {
    width: 100%;
  }

  /*cart page*/
  .cart-page-container {
    position: relative;
    display: none;
    padding: 0;
    height: 100%;
    pointer-events: none;
    width: 100%;
    background-color: #f5f5dc;
    flex-direction: column;
    opacity: 0;
    gap: 50px;
  }

  .cart-page-container.show {
    pointer-events: auto;
    padding-top: 90px;
    padding-bottom: 60px;
    display: flex;
    opacity: 1;
  }

  #backArrowCart {
    padding: 15px 18px;
    width: 15px;
    font-size: 24px;
    margin-left: 2rem;
    margin-bottom: 35px;
    border-radius: 50%;
    background-color: #71503a;
    color: #f5f5dc;
    cursor: pointer;
    transition: 0.3s ease;
    display: none;
  }

  #backArrowCart.show {
    display: block;
  }

  #back-arrowCartSide {
    padding: 15px 18px;
    width: 15px;
    font-size: 24px;
    margin-left: 2rem;
    margin-bottom: 35px;
    border-radius: 50%;
    background-color: #71503a;
    color: #f5f5dc;
    cursor: pointer;
    transition: 0.3s ease;
    display: none;
  }

  #back-arrowCartSide.show {
    display: block;
  }

  #backArrowCart:hover {
    transform: translateX(-7px);
  }

  .cartPage-side1 {
    width: 100%;
    height: 50%;
  }

  .cartPage-side1 h2 {
    color: #71503a;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }

  .cartList-container {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .cartList-container ul {
    display: flex;
    padding-top: 60px;
    height: 100%;
    width: 100%;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .cartList-container li {
    height: 100%;
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
  }

  .cartIMG {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }

  .cartIMG img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .cartProductInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  .cartProductInfo h3 {
    color: #71503a;
    font-size: 24px;
    font-weight: bold;
  }

  .cartProductInfo p {
    color: #71503a;
  }

  .cartPage-side2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .priceBox {
    position: relative;
    display: flex;
    width: 85%;
    height: 300px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #71503a;
  }

  .priceBoxItems {
    width: 80%;
  }

  .priceBoxItems h3 {
    position: absolute;
    top: 0;
    margin-top: 24px;
    font-size: 22px;
    cursor: default;
  }

  .priceBoxItems .subTotalText {
    font-size: 20px;
  }

  .priceBoxItems hr {
    background-color: #71503a;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.5px;
  }

  .checkInput {
    display: flex;
    gap: 5px;
  }

  .BuyingBtn {
    background-color: #71503a;
    border: solid 1px #71503a;
    color: #f5f5dc;
    width: 85%;
    padding: 15px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .removeBtn {
    background: none;
    color: #71503a;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
  }

  .BuyingBtn:hover {
    background-color: #fff;
    color: #71503a;
  }

  .seeMore {
    position: absolute;
    top: 0;
    border-radius: 0px 0px 8px;
    background-color: #f5f5dc;
    color: #71503a;
    padding: 5px;
  }

  .backToTop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    text-align: center;
  }

  /*footer*/
  .footer-container {
    height: 470px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  /*first column*/
  .categories-footer {
    display: none;
  }

  /*second column*/
  .other {
    padding-left: 15px;
  }

  .other ul {
    display: flex;
    gap: 30px;
  }

  /*logo name*/
  .logo-footer {
    display: flex;
    align-self: flex-end;
    position: absolute;
    color: #71503a;
    right: 0;
    padding-right: 45px;
  }

  .logo-footer.show {
    color: #f5f5dc;
  }

  /*logo name*/
  .logo-footer h1 {
    display: flex;
    position: relative;
    text-transform: uppercase;
    font-size: 55px;
    padding-right: 10px;
    text-align: center;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  /*sidebar*/
  .menu-items .side-footer {
    padding-top: 0;
    margin-top: 0;
  }
  .menu-items .side-footer .footer-container {
    background-color: #71503a;
    height: calc(100vh - 300px);
    padding-bottom: 200px;
  }

  .menu-items .logo-footer h1 {
    color: #f5f5dc;
    font-size: 40px;
    padding-bottom: 100px;
  }

  .second-category-container .woode-marketing p,
  .fourth-category-container .woode-marketing2 p {
    font-size: 20px;
  }

  /*visit page*/
  .visit-list-container2.show {
    height: 100vh;
    overflow: hidden;
  }

  .visit-page-container2 {
    height: 100vh;
    overflow: hidden;
  }

  .visit-container2 {
    height: 100vh;
    overflow: hidden;
  }

  .visit-container2 .fa-chevron-left {
    z-index: 500;
  }

  .visit-container2 .half-screen-1-about2 {
    height: 50%;
    margin-top: -90px;
  }

  .visit-container2 .half-screen-2-visit2 {
    height: 50%;
  }

  /*product page*/
  .product-page-container.show {
    height: 100vh;
    padding-top: 0;
    margin-top: -60px;
  }

  #backArrow3 {
    margin-top: 140px;
  }

  .product-page-container .product-details-section {
    margin-top: 60px;
  }

  .product-details-section {
    font-size: 20px;
  }

  .colors {
    flex-direction: row;
    width: auto;
  }

  .product-info {
    margin-top: 45px;
    overflow: hidden;
  }

  .product-info h1 {
    font-size: 65px;
  }

  .product-info p {
    padding: 0px 50px;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  /*visit page*/
  .visit-list-container2 {
    flex-direction: row;
    overflow: hidden;
  }

  .visit-container2 {
    width: 100%;
    flex-direction: row;
    overflow: hidden;
  }

  .visit-container2 .half-screen-1-about2 {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  .visit-container2 .half-screen-2-visit2 {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  /*product page*/
  .product-page-container {
    overflow: hidden;
  }

  .product-details-section {
    padding: 1rem;
    position: absolute;
    flex-direction: row;
    height: 100vh;
    top: 135px;
    left: 0;
  }

  .product-image {
    width: 50%;
  }

  .product-details {
    margin-top: 20px;
  }

  .product-info {
    width: 50%;
    margin-top: -20px;
  }

  .colors {
    flex-direction: column;
  }

  .colors.show {
    animation: fadeLeft 0.7s 0.4s ease forwards;
  }

  .product-info p {
    padding: 0px 20px;
  }
}

@media (min-width: 1025px) {
  /*nav*/
  .nav-container {
    padding: 0 2em;
    box-sizing: border-box;
  }

  .navcategs1-container {
    display: flex;
  }

  .navcategs2-container {
    display: flex;
  }

  .navcategs2-container .desktop-nav {
    display: flex;
  }

  .navcategs2-container .mobile {
    display: none;
  }

  .logomark {
    left: 50%;
    transform: translateX(-50%);
  }

  .logomark.show {
    position: absolute;
  }

  .logomark h1 {
    font-size: 28px;
  }

  .linha1,
  .linha2,
  .linha3,
  .linha4,
  .linha5,
  .linha6,
  .linha7 {
    display: flex;
  }

  .search_screen {
    display: flex;
  }

  .mobile {
    display: none;
  }

  .mobile .mobile-menu {
    display: none;
  }

  .fa-bars {
    display: none;
  }

  .sidebar-container {
    display: none;
  }

  .menu-items {
    display: none;
  }

  .navcategs1-container.show a {
    color: #71503a;
    .linhas1 {
      background-color: #71503a;
    }
  }

  .navcategs2-container.show a {
    color: #f5f5dc;
    .linhas2 {
      background-color: #f5f5dc;
    }
  }

  .nav-items li {
    position: relative;
    display: inline-block;
  }

  .nav-items li a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }

  .nav-items.show {
    .linha1,
    .linha2,
    .linha3,
    .linha4,
    .linha5,
    .linha6,
    .linha7 {
      background-color: #71503a;
    }
  }

  .nav-items.show h1 {
    color: #71503a;
  }
  .nav-items.show li a {
    color: #71503a;
  }

  .linha1,
  .linha2,
  .linha3,
  .linha4,
  .linha5,
  .linha6,
  .linha7 {
    position: absolute;
    background-color: #fff;
    width: 0;
    margin-top: -20px;
    height: 1px;
    transition: 0.2s ease-in-out;
  }

  .living:hover {
    .linha1 {
      width: 100%;
    }
  }

  .dinning:hover {
    .linha2 {
      width: 100%;
    }
  }

  .bedroom:hover {
    .linha3 {
      width: 100%;
    }
  }

  .collections:hover {
    .linha4 {
      width: 100%;
    }
  }

  .visit:hover {
    .linha5 {
      width: 100%;
    }
  }

  .contactUs:hover {
    .linha6 {
      width: 100%;
    }
  }

  .mobile {
    display: none;
  }

  /*search page*/
  .Lupa {
    width: 700px;
    opacity: 1;
    height: auto;
    pointer-events: auto;
    border-radius: 8px;
    outline: none;
    border: none;
    color: #71503a;
    padding: 25px;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    overflow: visible;
  }

  .search_screen {
    position: absolute;
    width: 100vw;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5dc;
    transition: 0.5s ease-in-out;
    overflow: visible;
  }

  .search_screen.show {
    height: 500px;

    .lupa_input {
      opacity: 1;
    }
  }

  .lupa_input {
    display: flex;
    position: relative;
    align-items: center;
    opacity: 0;
    transition: 0.3s ease-in-out;
    overflow: visible;
  }

  .search_screen .fa-magnifying-glass {
    color: #71503a;
    padding: 5px;
    font-size: 35px;
  }

  /*awesomplete search*/
  .awesomplete ul {
    background: #f5f5dc;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }

  .awesomplete mark {
    color: #000;
    background-color: #fff;
  }

  .awesomplete li {
    font-family: "Poppins", sans-serif;
    padding: 10px 16px;
    color: #71503a;
    font-weight: 400;
    cursor: pointer;
  }

  .awesomplete li:hover,
  .awesomplete li[aria-selected="true"] {
    background: #71503a;
    color: #f5f5dc;
  }

  .awesomplete span {
    display: none;
  }

  /*main*/
  .intro-container,
  .intro-banner {
    overflow-y: hidden;
    height: 100vh;
  }

  .cart-page-container {
    flex-direction: row;
  }

  /*intro page*/
  .intro-container h1 {
    position: absolute;
    right: 0;
    padding-right: 35px;
    font-size: 32px;
    text-transform: uppercase;
  }

  .intro-container p {
    position: absolute;
    margin-top: 45px;
    padding-right: 65px;
    text-transform: uppercase;
    animation: fadeIn2 0.5s 2s ease forwards;
  }

  .product:hover {
    .seeMore {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  .img-container {
    width: 100%;
    height: 90%;
  }

  .product img {
    transition: transform 0.5s ease;
  }

  .product:hover img {
    transform: scale(1.1);
  }

  .seeMore {
    position: absolute;
    top: 0;
    transform: translateX(-50px);
    border-radius: 0px 0px 8px;
    background-color: #f5f5dc;
    color: #71503a;
    padding: 5px;
    z-index: 50000;
    opacity: 0;
    transition: 0.5s ease;
  }

  /* first categ */
  .first-category-container .first-category {
    flex-direction: row;
  }

  /*first half screen*/
  .first-category-container .first-category .half-screen-1-ad {
    width: 50%;
    display: flex;
    flex-direction: row;
  }

  /*second half screen*/
  .first-category-container .first-category .half-screen-2-ad {
    width: 50%;
  }

  /*second category container*/
  .second-category-container {
    width: 100%;
    height: 660px;
  }

  .second-category-container .second-category {
    flex-direction: row;
  }

  /*first half screen*/
  .second-category-container .second-category .half-screen-1-poster {
    width: 50%;
    display: flex;
    height: 660px;
  }

  /*second half screen*/
  .second-category-container .second-category .half-screen-2-marketing {
    height: 660px;
    width: 50%;
  }

  .linha-button {
    display: flex;
  }

  /*third category*/
  .third-category-container {
    padding-top: 90px;
    padding-bottom: 50px;
    height: 460px;
  }

  .third-category-container .third-category {
    flex-direction: row;
  }

  /*product4*/
  .third-category-container .third-category .product4 {
    height: 100%;
  }

  /*product5*/
  .third-category-container .third-category .product5 {
    height: 100%;
  }

  /*product6*/
  .third-category-container .third-category .product6 {
    height: 100%;
  }

  /*product7*/
  .third-category-container .third-category .product7 {
    height: 100%;
  }

  /*fourth category container*/
  .fourth-category-container {
    height: 660px;
  }

  .fourth-category-container .fourth-category {
    flex-direction: row;
    height: 100%;
  }

  /*first half screen*/
  .fourth-category-container .fourth-category .half-screen-1-poster2 {
    width: 50%;
    height: 660px;
  }

  /*second half screen*/
  .fourth-category-container .fourth-category .half-screen-2-marketing2 {
    width: 50%;
    height: 660px;
  }

  .linha-button2 {
    display: flex;
  }

  .second-category-container .woode-marketing p,
  .fourth-category-container .woode-marketing2 p {
    font-size: 16px;
  }

  .contact-container {
    flex-direction: row;
  }

  /*contact page nav*/
  .contact-page-container {
    position: absolute;
    width: 100vw;
    height: 0;
    opacity: 0;
    z-index: 3;
    display: flex;
    transition: 0.5s ease;
    justify-content: center;
    text-align: center;
  }

  .contact-page-container.show {
    height: 100vh;
    opacity: 1;
  }

  #back-arrow4 {
    display: none;
    color: #71503a;
  }

  /*product page*/
  .product-sub {
    font-weight: 400;
  }

  .product-page-container {
    padding: 2rem;
    margin-top: 90px;
  }

  .product-page-container.show {
    display: block;
    height: 100%;
  }

  .product-details-section {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .product-details {
    font-size: 16px;
  }

  .product-image {
    width: 50%;
  }

  .product-image img {
    max-width: 400px;
  }

  .product-info h1 {
    font-size: 95px;
    text-align: start;
  }

  .product-info p {
    padding: 0;
    font-size: 22px;
    text-align: justify;
  }

  #backArrow3 {
    position: absolute;
    margin-top: 145px;
    padding: 14px 18px;
    font-size: 25px;
    transition: 0.3s ease;
  }

  #backArrow3:hover {
    transform: translateX(-7px);
  }

  .colors {
    width: 100px;
    justify-content: center;
    height: 300px;
  }

  .colors .color1 {
    height: 60px;
    width: 60px;
  }

  .colors .color2 {
    height: 60px;
    width: 60px;
  }

  .colors .color3 {
    height: 60px;
    width: 60px;
  }

  .color:hover {
    height: 70px;
    width: 70px;
  }

  .product-info {
    width: 50%;
  }

  .product-info h1 {
    font-size: 65px;
  }

  .product-info p {
    font-size: 16px;
  }

  /*footer*/
  .footer-container {
    height: 270px;
    width: 100%;
    flex-direction: row;
    justify-content: start;
  }

  .cartList-container li {
    flex-direction: row;
  }

  /*first column*/
  .categories-footer {
    display: flex;
  }

  /*second column*/
  .other {
    padding-top: 45px;
    padding-left: 85px;
  }

  /*logo name*/
  .logo-footer {
    font-size: 90px;
  }

  .logo-footer h1 {
    flex-direction: row;
    text-transform: none;
    font-size: 180px;
  }
}

@media (min-width: 1920px) {
  .nav-container {
    padding: 1rem 2rem;
    height: 100px;
  }
  .navcategs1-container ul li a {
    font-size: 23px;
  }

  .navcategs2-container ul li a {
    font-size: 23px;
  }

  .logomark h1 {
    font-size: 40px;
  }

  .living-page-container.show,
  .dinning-page-container.show,
  .bedroom-page-container.show,
  .collections-page-container.show {
    height: 645px;
  }

  .lists-container,
  .lists-container2,
  .lists-container3,
  .lists-container4 {
    padding-top: 200px;
    padding-left: 75px;
    gap: 90px;
    width: 42%;
  }

  .column1 h3 {
    font-size: 33px;
  }

  .column1 ul {
    font-size: 23px;
  }

  .column2 h3 {
    font-size: 33px;
  }

  .column2 ul {
    font-size: 23px;
  }

  .sections-img {
    margin-top: 150px;
  }

  .sub1 {
    font-size: 24px;
  }

  .sub2 {
    font-size: 24px;
  }

  /*search page*/
  .Lupa {
    font-size: 35px;
  }

  .search_screen.show {
    height: 700px;
  }

  .search_screen .fa-magnifying-glass {
    font-size: 45px;
  }

  /*awesomplete search*/
  .awesomplete span {
    font-size: 20px;
    opacity: 0;
  }

  .awesomplete li {
    font-size: 20px;
  }

  /*intro page*/
  .intro-container h1 {
    margin-top: 150px;
    font-size: 45px;
  }

  .intro-container p {
    margin-top: 220px;
    font-size: 23px;
  }

  .product-sub {
    font-size: 23px;
  }

  /*cart page*/
  .cart-page-container {
    min-height: 100vh;
    gap: 30px;
  }

  .cart-page-container.show {
    padding-top: 120px;
  }

  #backArrowCart {
    padding: 22px 26px;
    font-size: 28px;
  }

  .cartPage-side1 {
    width: 60%;
  }

  .cartPage-side2 {
    width: 40%;
  }

  .cartPage-side1 h2 {
    font-size: 38px;
  }

  .cartList-container li {
    width: 80%;
  }

  .cartIMG {
    height: 400px;
  }

  .cartProductInfo h3 {
    font-size: 30px;
  }

  .cartProductInfo p {
    font-size: 20px;
  }

  .BuyingBtn {
    font-size: 24px;
  }

  .removeBtn {
    font-size: 22px;
  }

  /* first categ */
  .seeMore {
    padding: 15px;
    font-size: 24px;
    top: -2px;
  }

  .first-category-container {
    height: 660px;
  }

  .first-category-container .first-category .half-screen-1-ad .product1 {
    width: 450px;
    height: 100%;
  }

  .first-category-container .first-category .half-screen-1-ad .product2 {
    width: 450px;
    height: 100%;
  }
  /*second half screen*/
  .first-category-container .first-category .half-screen-2-ad .product3 {
    width: 450px;
    height: 100%;
    overflow: hidden;
  }
  /*second category container*/
  .second-category-container {
    height: 860px;
  }

  /*first half screen*/
  .second-category-container .second-category .half-screen-1-poster {
    width: 50%;
    display: flex;
    height: 100%;
  }

  /*second half screen*/
  .second-category-container .second-category .half-screen-2-marketing {
    height: 100%;
    width: 50%;
  }

  .second-category .half-screen-2-marketing .woode-marketing h1 {
    font-size: 50px;
  }

  .second-category .half-screen-2-marketing .woode-marketing p {
    font-size: 23px;
  }

  .second-category .half-screen-2-marketing .woode-marketing .button {
    font-size: 23px;
  }

  /*third category*/
  .third-category-container {
    height: 660px;
  }

  /*product4*/
  .third-category-container .third-category .product4 {
    height: 100%;
    width: 450px;
  }

  /*product5*/
  .third-category-container .third-category .product5 {
    height: 100%;
    width: 450px;
  }

  /*product6*/
  .third-category-container .third-category .product6 {
    height: 100%;
    width: 450px;
  }

  /*product7*/
  .third-category-container .third-category .product7 {
    height: 100%;
    width: 450px;
  }

  /*fourth category container*/
  .fourth-category-container {
    height: 860px;
  }

  /*first half screen*/
  .fourth-category-container .fourth-category .half-screen-1-poster2 {
    width: 50%;
    height: 100%;
  }

  /*second half screen*/
  .fourth-category-container .fourth-category .half-screen-2-marketing2 {
    width: 50%;
    height: 100%;
  }

  .fourth-category .half-screen-2-marketing2 .woode-marketing2 h1 {
    font-size: 50px;
  }

  .fourth-category .half-screen-2-marketing2 .woode-marketing2 p {
    font-size: 23px;
  }

  .fourth-category .half-screen-2-marketing2 .woode-marketing2 .button {
    font-size: 23px;
  }

  /*visit page*/
  .store-adress h1 {
    font-size: 45px;
  }

  .store-adress p {
    font-size: 23px;
  }

  .work-time {
    font-size: 23px;
  }

  .email-adress {
    font-size: 23px;
  }

  /*product page*/
  .product-sub {
    font-weight: 400;
  }

  .product-page-container {
    padding: 2rem;
    margin-top: 90px;
  }

  .product-page-container.show {
    display: block;
    height: 100%;
  }

  .product-details-section {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .product-details {
    font-size: 23px;
  }

  .product-image {
    width: 50%;
    margin-top: 90px;
  }

  .product-image img {
    max-width: 600px;
  }

  .product-info {
    margin-top: 65px;
    width: 50%;
  }

  .product-info h1 {
    font-size: 95px;
    text-align: start;
  }

  .product-info p {
    padding: 0;
    font-size: 22px;
    text-align: justify;
  }

  #backArrow3 {
    position: absolute;
    margin-top: 165px;
    padding: 26px 30px;
    z-index: 5000;
    font-size: 35px;
    transition: 0.3s ease;
  }

  .colors {
    width: 120px;
    justify-content: center;
    height: 400px;
  }

  .colors.show {
    animation: fadeLeft 0.6s 0.5s ease forwards;
  }

  .colors .color1 {
    height: 90px;
    width: 90px;
  }

  .colors .color2 {
    height: 90px;
    width: 90px;
  }

  .colors .color3 {
    height: 90px;
    width: 90px;
  }

  .color:hover {
    height: 100px;
    width: 100px;
  }

  /*contact page*/
  .store-about h1,
  .store-contact h1 {
    font-size: 45px;
  }

  .store-about p,
  .ContactMails,
  .email-message {
    font-size: 24px;
  }

  /* Back to top arrow*/
  .backToTop .fa-chevron-up {
    font-size: 24px;
    padding: 24px;
    margin-bottom: 20px;
  }

  /*footer*/
  .footer-container {
    width: 100%;
    flex-direction: row;
    justify-content: start;
  }

  /*first column*/
  .categories-footer {
    display: flex;
    font-size: 20px;
  }

  /*second column*/
  .other {
    padding-top: 45px;
    padding-left: 85px;
    font-size: 20px;
  }

  .logo-footer h1 {
    padding-top: 20px;
    flex-direction: row;
    text-transform: none;
    font-size: 220px;
  }
}
